body {
  background: url(food.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-position: center;
  
}

/* From Uiverse.io by alexmaracinaru */ 
.button-add {
  border: none;
  background: none;
  cursor: pointer;
  font-family: "Encode Sans Semi Expanded", sans-serif;
  margin-bottom: 15px;
}

.button-add span {
  padding-bottom: 7px;
  font-size: 12px;
  padding-right: 15px;
  text-transform: uppercase;
}

.button-add svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.button-add:hover svg {
  transform: translateX(0);
}

.button-add:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.button-add:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.btnDeleteCont {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.button-delete {
  background: none;
  border: none;
}

.iconTrash {
  width: 12px;
}

.MyListHeading {
  font-family: "Encode Sans Semi Expanded", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MyListPar {
  font-size: 14px;
  font-style: italic;
}

.MyListH1 {
  font-weight: 400;
  font-size: 40px;
  margin-left: 5px;
  margin-right: 3px;
}

.dayTitle {
  font-family: "Encode Sans Semi Expanded", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.dayMeals {
  font-family: "Encode Sans Semi Expanded", sans-serif;
  font-size: 12px;
  font-style: italic;
}

.App {
  display: flex;
  justify-content: space-around;
}

.iconIdea {
  width: 30px;
}

.whole-plan {
  width: 50%;
  height: 100vh;
}

.meal-editing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-family: "Encode Sans Semi Expanded", sans-serif;
  align-self: start;
  width: 100%;
}

.myInput {
  background-color: #E9EFEC;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  padding: 10px;
  border-radius: 20px;
  font-family: "Kalam", cursive;
  letter-spacing: 2px;
  font-size: 18px;
  border: 2px solid #B7B7B7;
  outline: none;
}

.myInput:hover {
  background: linear-gradient(94deg, rgba(233,239,236,1) 0%, rgba(201,233,210,1) 100%);
}

textarea {
  padding: 10px;
  box-sizing: border-box;
  background-color: #E9EFEC;
  border: 2px solid #B7B7B7;
  width: 100%;
  height: 200px;
  border-radius: 20px;
  font-family: "Kalam", cursive;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 2px;
  font-style: normal;
  outline: none;
}

textarea:hover {
  background: linear-gradient(94deg, rgba(233,239,236,1) 0%, rgba(201,233,210,1) 100%);
}

.myInput, textarea {
  margin-top: 7px;
  margin-bottom: 25px;
}

.selected, .default {
  margin: 3px;
  padding-left: 5px;
  border: 2px solid #B7B7B7;
  min-height: 85px;
  position: relative;
}

.selected {
  background: linear-gradient(94deg, rgba(233,239,236,1) 0%, rgba(201,233,210,1) 100%);
}

.default {
  background-color: #F5F5F7;
}

.default:hover {
  background-color: #E9EFEC;
}

.parDefault {
  font-family: "Encode Sans Semi Expanded", sans-serif;
  width: 50%;
  margin-top: 35px;
  font-size: 24px;
  font-weight: 400;
  font-style: italic;
}

@media all and (max-width: 540px) {
  .MyListHeading {
    margin-bottom: 20px;
  }

  .MyListPar {
    font-size: 10px;
  }
  
  .MyListH1 {
    font-size: 18px;
    margin-left: 2px;
    margin-right: 1px;
  }

  label {
    font-size: 14px;
  }

  .dayMeals {
    font-size: 10px;
  }

  .iconIdea {
    width: 15px;
  }

  .parDefault {
    font-size: 10px;
    margin-top: 110px;
  }

  .myInput {
    height: 40px;
    letter-spacing: 1px;
    font-size: 14px;
  }

  textarea {
    font-size: 14px;
    letter-spacing: 1px;
  }

  .myInput, textarea {
    margin-top: 18px;
    margin-bottom: 25px;
  }

  .selected, .default {
    margin: 1px;
    min-height: 75px;
  }

  .iconTrash {
    width: 10px;
  }
}
